#imgContainer {
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    width: 940px;
    height: 1200px;
}

    #imgContainer img {
        width: 940px;
    }

#positionButtonDiv {
    background: rgba(58, 56, 63, 0.5);
    color: #FFFFFF;
    width: 64px;
    padding: 8px;
    text-align: left;
    position: absolute;
    right: 35px;
    top: 35px;
    z-index: 30;
}

    #positionButtonDiv .positionButtonSpan img {
        float: right;
        border: 0;
    }

.positionMapClass area {
    cursor: pointer;
}

.zoomButton {
    border: 0;
    cursor: pointer;
    margin: 0px auto 10px;
}

.zoomableContainer {
    background-color: #FFF;
}
